<div class="container mt-5 mb-2 pb-2 col-md-3 mr-1">
<div class="row has text-warning">

<section class="form-auth text-align-left">
   <h4 class="title is-3 text-center">Edit <%= resource_name.to_s.humanize %></h4>

      <div style="background-color: #000075;">
        <div id="error_explanation", class="btn-sm btn-danger mt-3 mb-3">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %></div>
           
   <div class="ml-5 pt-4">              
  <div class="field mb-4">
    <%= f.label :Username %><br/>
    <%= f.text_field :name, size:35, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field mb-4">
    <%= f.label :email %><br/>
    <%= f.email_field :email, size:35, autofocus: true, autocomplete: "email" %>
  </div>

   <div class="field mb-4">
    <%= f.label :telephone_number %><br />
    <%= f.text_field :telephone_number, size:35, autofocus: true, autocomplete: "telephone" %>
  </div>


          <div class="field">
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
           </div>
 
  <div class="field mb-4">
    <%= f.label :password %> <i class="text-danger">(leave it a blank if you don't want to change password)</i><br />
    <%= f.password_field :password, size:35, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <em class="text-primary"><%= @minimum_password_length %> characters minimum</em>  
    <% end %>
  </div>
          

  <div class="field mb-4">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, size:35, autocomplete: "new-password" %>
  </div>

  <div class="field mb-4">
    <%= f.label :current_password %>  <i class="text-danger">(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, size:35, autocomplete: "current-password" %>
  </div>


        <%= f.button :submit, "Update", class:"btn btn-success" %>
        <%= link_to "Back", products_path, class:"btn btn-primary" %>

      <% end %>

        <hr>
        <h3 class="title is-5 has text-warning">Cancel my account</h3>
        <p>Unhappy? <%= link_to "Cancel my account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete %></p>
       
       <div class="mb-5"></div>

      </div></div>
    </div>
  </div>
</section>
</main>




