 <div class="has text-center col-md-9 has text-white ml-auto mr-auto">
 <%= yield (:body_class) %>
    <% if flash[:notice] %>
      <div class="btn btn-sm btn-success notification is-success global-notification mt-3 ">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
    <div class="btn btn-sm btn-danger notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>
<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %></div>
