 <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <%= link_to image_tag('logo.png', width:125), '/' %>
        </div>
        
        <div class="humberger__menu__widget">
            <!-- <div class="header__top__right__language">
                <img src="/assets/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Kinya</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div> -->

            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Create account</a>
            </div>| </br>

            <div class="header__top__right__auth">
                <a href="/sessions/new.html.erb"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/products/new">Add product</a></li>
                <li><a href="#">Account</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">About</a></li>
                <li><a href="/contacts/new">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-whatsapp"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@notify.rw</li>
                <!--<i class="fa fa-telephone">+250 785 617 296</i>-->
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> hello@notify.rw</li>
                                <!--<li>+250 785 617 296</li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-whatsapp"></i></a>
                            <!-- </div>
                            <div class="header__top__right__language">
                                <img src="/assets/language.png" alt="">
                                <div>English</div>
                                <span></span>
                                <ul>
                                    <li><a href="#">Kinya</a></li>
                                    <li><a href="#">English</a></li>
                                </ul> -->
                            </div>

                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-user"></i> Create account</a>
                            </div>/ 

                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-user"></i> Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <%= link_to image_tag('logo.png', width:125), '/' %>
                    </div>
        </div>
        <div class="col-lg-8">
            <nav class="header__menu">
                <ul>
                    <li class="active"><a href="/">Home</a></li>
    
                <li><a href="/products/new">Add product</a></li>

                    <li><a href="#">Account</a>
                    <ul class="header__menu__dropdown">
                    <% if user_signed_in? %>
                    <%= link_to 'Edit my account', edit_user_registration_path, class:"dropdown-item has text-primary" %>
                    <%= link_to "Log Out", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?"}, class:"dropdown-item has text-primary" %>

                    <% else %>
                    <%= link_to "Log In", new_user_session_path, class:"dropdown-item has text-primary" %>
                    <%= link_to "Sign Up", new_user_registration_path, class:"dropdown-item has text-primary" %>
                    <% end %>
                    </ul></li>    
                                                  
                            <li><a href="./blog.html">About us</a></li>
                            <li><a href="/contacts/new">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div> 
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            <li><a href="#">Fresh Meat</a></li>
                            <li><a href="#">Vegetables</a></li>
                            <li><a href="#">Fruit & Nut Gifts</a></li>
                            <li><a href="#">Fresh Berries</a></li>
                            <li><a href="#">Ocean Foods</a></li>
                            <li><a href="#">Butter & Eggs</a></li>
                            <li><a href="#">Fastfood</a></li>
                            <li><a href="#">Fresh Onion</a></li>
                            <li><a href="#">Papayaya & Crisps</a></li>
                            <li><a href="#">Oatmeal</a></li>
                            <li><a href="#">Fresh Bananas</a></li>
                        </ul>
                    </div>
                </div> -->
                <div class="col-sm-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="/search">
                                
                                <input type="text" placeholder="What do yo u need?" class>
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <strong>+250 785 617 296</strong></br>
                                <span>Support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
