<p id="notice"><%= notice %></p>

<h3 class="ml-3">Categories</h3>

<% if has_role?(:admin) %>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.category %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>

<% else %>
<p class="has text-center text-white ml-3 btn bg-danger"> Sorry! You don't have right to access this page. </p><br>
<%= link_to 'Back', products_path,class:" btn btn-primary ml-3 mb-5" %>
<% end %>